<template>
  <div id="tituloficha">
    <h3>Ficha de Personagem</h3>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Capa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Atributos Básicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Habilidades/Magias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Combate/Pertences</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title"><strong>Egeu Laus</strong></h4>
      <p class="card-text">Elfo dourado mago, formado no colégio elemental.</p>
      <p class="card-text">
        Descendente da baixa nobresa de Calco, sofreu uma tentativa de rapto
        ainda muito novo em uma conferência com supostos diplomatas do Império.
      </p>
      <p class="card-text">Na fuga, seus raptores foram surpreendidos</p>
      <p class="card-text">
        pelo poder elemental de um mago que cruzou seus caminhos e decidiu
        salvar Egeu.
      </p>
      <p class="card-text">
        Desde então, Egen se tornou seu discípulo e mais talentoso aprendiz
      </p>

      <a href="#" class="btn btn-primary">Próxima Página</a>
    </div>
  </div>
</template>
    
<script>
export default {
  name: "FichaDePersonagem",
};
</script>

