<template>
  <div class="hello">
    <h2>{{ msg }}</h2>
    <div class="sorteio-atributos">
      <h4>Comecaremos sorteando os atributos do seu personagem!</h4>
      <button type="button" class="btn btn-dark">Sortear!</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
