<template>
<div class="bg-image"
  style="
    background-image: url('https://i.pinimg.com/originals/b2/27/bc/b227bc858a11ee404975aa6761c78857.jpg');
    height: 100vh;
  ">  
  <img src="./assets/logo.png" class="img-fluid" alt="Imagem responsiva">
  <HelloWorld class="boas-vindas" msg="Bem vindo ao mágico e perigoso mundo de Tagmar!"/>
  <FichaDePersonagem/>
</div>
</template>

<script>
import FichaDePersonagem from './components/FichaDePersonagem.vue'
import HelloWorld from './components/HelloWorld.vue'


export default {
  name: 'App',
  components: {
    HelloWorld,
    FichaDePersonagem
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;  
  }

#logotagmar {
  width: 400px;
  height: 200px;
  position: relative;
  top: 0.3%;
  left: 700px;
  }

.imagemTagmar {
  text-align: right;
}

#tituloficha {
  margin-top: 100px;
  color: white;
}

.bg-image {
  background-size: cover;
}

.sorteio-atributos, .boas-vindas {
  color: white;
  
}

  </style>
